@import "../config/config";
@import "~susy/sass/susy";

#itinerary {
  @include span(isolate 6 at 3 of 12);

  margin-top: 50px;
  min-height: 500px;
}

#itinerary-title {
  margin-top: 30px;
  text-align: center;
  color: $primary-color;
}

.time {
  width: 100px;
}
