@import "../config/config";
@import "~susy/sass/susy";

.lodging-form {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  padding: 20px;
  z-index: 1000;
  background-color: #fefefe;
  border: 1px solid grey;
  border-radius: 4px;
}
