@import "../config/config";
@import "~susy/sass/susy";

h1 {
  color: $primary-color;
}

#input {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

#summary {
  margin-top: 30px;
}

#summary-card {
  width: 350px;
}
