@import "../config/config";
@import "~susy/sass/susy";

h1 {
  color: $primary-color;
}

#overview {
  @include span(3 of 12);
}

#summary {
  @include span(3 of 12);

  width: 400px;
  margin-top: 30px;
}
