@import "../config";

.trip-main {
  @include container;

  margin-top: 80px;
}

@media screen and (max-width: 649px) {
  .main-left,
  .main-right {
    @include span(16);
  }
}

@media screen and (min-width: 650px) and (max-width: 1100px) {
  .main-left,
  .main-right {
    width: span(14);
    margin: 0 auto;
  }
}

@media screen and (max-width: 1100px) {
  .itinerary {
    margin-top: 12px;
    height: 600px;
  }

  .map {
    margin-top: 12px;
    height: 400px;
  }
}

@media screen and (min-width: 1101px) {
  .main-left,
  .main-right {
    @include span(8);
  }

  .itinerary {
    height: 84vh;
    max-height: 850px;
  }

  .map {
    height: 60vh;
    max-height: 690px;
  }
}

@media screen and (min-width: 1500px) {
  @include with-layout($fixed-layout) {
    body {
      @include container;
    }

    // .main-left {
    //   @include span(6 at 3);
    // }
    //
    // .main-right {
    //   @include span(6 at 9);
    // }
  }
}
