@import "~susy/sass/susy";

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$susy: (
  flow: ltr,
  output: float,
  math: fluid,
  container: 90%,
  container-position: center,
  last-flow: to,
  columns: 16,
  gutters: 1/4,
  gutter-position: split,
  global-box-sizing: border-box,
);

$primary-font: 'Roboto', sans-serif;
$primary-color: #5d5d5d;

body {
  @include container;

  background-color: #fafafa;
  font-family: $primary-font;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.active {
  display: block;
}

.toggle-form {
  display: block;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  padding: 20px;
  z-index: 1000;
  background-color: #fefefe;
  border: 1px solid grey;
  border-radius: 4px;
  text-align: center;
}
